@import "../mixin";

.accountSettingUserList{
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Noto Sans SC, sans-serif;
  width: 97%;
  height: 100%;
  background: linear-gradient(64.4deg, #00262F 73.81%, #495B7C 122.59%);
  border-radius: 5px;
  color: #8FCDCC;
  font-size: 1.625rem;
  .accountFilter{
    display: flex;
    margin: 0 0 2rem 2%;
    font-size: 1.25rem;
    .selectFilter{
      margin-left: 1rem;
      margin-right: 3rem;
      width: 12rem;
    }
  }
  .scrollContainer{
    height: 80%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    .sortContainer{
      margin-left: 1.5%;
      padding-bottom: 0.4rem;
      border-bottom: solid 1px #8FCDCC;
      @include sortTitle();
      color: white;
      margin-right: 10px;
      padding-right: 0;
      .text5{
        padding-left: 3.2rem;
        width: 20%;
        box-sizing: border-box;
      }
      .text6{
        width: 20%;
        box-sizing: border-box;
      }
      .text7{
        width: 15%;
        box-sizing: border-box;
      }
      .text10{
        width: 20%;
        box-sizing: border-box;
      }
      .text8{
        width: 25%;
        box-sizing: border-box;
        border-right: none;
      }
    }
    .accountSettingUserListData{
      margin-left: 1.5%;
      @include scroll();
      padding-right: 0;
      margin-right: 0;
      .accountSettingTable{
        width: 100%;
        .td5 {
          padding-left: 1rem;
          width: 20%;
          .td5Container{
            display: flex;
            align-items: center;
            .name {
              margin-left: 1rem;
            }
          }
        }
        .td6{
          width: 20%;
        }
        .td7{
          width: 15%;
        }
        .td10{
          width: 20%;
        }
        .td8{
          width: 25%;
        }
      }
    }
  }
}

.accountSettingUserListEditor, .accountSettingUserListCreate{
  font-family: Noto Sans SC, sans-serif;
  width: 97%;
  height: 100%;
  background: linear-gradient(64.4deg, #00262F 73.81%, #495B7C 122.59%);
  border-radius: 5px;
  color: #8FCDCC;
  font-size: 1.625rem;
  form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input{
      font-size: 1.25rem;
      color: #8FCDCC;
      width: 100%;
    }
    select {
      width: 100%;
      background-image: url("../../image/svg/selectDown.svg");
      background-size: 0.625rem 0.4375rem;
      background-position: top 60% right 2%;
      background-repeat: no-repeat;
    }
  }
  .upContainer{
    padding: 0 1.9% 0 1.9%;
    .title{
      font-weight: bold;
      color: #FFFFFF;
      margin: 1.25rem 0 0 0;
    }
    .informationContainer{
      display: flex;
      .leftContainer{
        box-sizing: border-box;
        width: 50%;
        padding: 0 3% 0 2%;
        .item{
          align-items: center;
          margin: 1rem 0;
          justify-content: space-between;
          display: flex;
          .name{
            width: 40%;
            color: #8FCDCC;
            &.user{
              color: rgba(143, 205, 204, 0.35);
            }
            &.accountLevel{
              display: flex;
            }
          }
          .value{
            width: 60%;
            border-bottom: 1px solid #8FCDCC;
            position: relative;
            .correctContainer{
              position: absolute;
              right: 0;
              top: 0
            }
            &.user{
              color: rgba(143, 205, 204, 0.35);
            }
            &.checkPassword{
              position: relative;
            }
            .message{
              font-size: 1rem;
              color: red;
              position: absolute;
              bottom: 0;
              left: 100%;
              width: fit-content;
            }
          }
        }
        &.address{
          width: 100%;
          padding-right: 2%;
          .item{
            margin-top: 0;
            .name{
              width: 18.7%;
            }
            .value{
              width: 81.3%;
            }
          }
        }
      }
      .rightContainer{

        box-sizing: border-box;
        width: 50%;
        padding: 0 2% 0 3%;
        .item{
          align-items: center;
          margin: 1rem 0;
          display: flex;
          .name{
            width: 40%;
          }
          .value{
            width: 60%;
            border-bottom: 1px solid #8FCDCC;
          }
        }
      }
    }
  }
  .downContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    .buttonContainer{
      display: flex;
      .button{
        margin: 0 1rem;
      }
    }
  }
}

// account setting editor
