.alarmSettingCategory, .alarmSettingRuleIndex, .alarmSettingAdd {
  font-family: Noto Sans SC, sans-serif;
  width: 97%;
  height: 100%;
  background: linear-gradient(64.4deg, #00262F 73.81%, #495B7C 122.59%);
  border-radius: 5px;
  color: #8FCDCC;
  font-size: 1.625rem;
}
.alarmSettingCategory .loadingContainer, .alarmSettingRuleIndex .loadingContainer, .alarmSettingAdd .loadingContainer {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.searchEditorContainer {
  margin: 1.6875rem 0 1.9rem 1.62%;
  display: flex;
}
.searchEditorContainer .inputContainer {
  width: 17.1%;
  height: 2.375rem;
  line-height: 2.375rem;
}
.searchEditorContainer .inputContainer input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.searchEditorContainer .editor {
  cursor: pointer;
  margin-left: 1.5%;
  line-height: 2.375rem;
  height: 2.375rem;
}

.alarmSettingCategory .sortContainer {
  margin-left: 1.5%;
  margin-right: 4%;
  padding-bottom: 0.4rem;
  border-bottom: solid 1px #8FCDCC;
  padding-right: 1%;
  display: flex;
  font-size: 1.625rem;
  color: #8FCDCC;
  color: white;
}
.alarmSettingCategory .sortContainer .title2Text {
  cursor: pointer;
  border-right: solid 1px #8FCDCC;
  padding-left: 0.8%;
  display: flex;
  box-sizing: border-box;
}
.alarmSettingCategory .sortContainer .title2Text .div_triangle {
  margin: 0.45rem 0 0.45rem 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.alarmSettingCategory .sortContainer .title2Text .div_triangle .triangle {
  border-left: 0.1875rem solid transparent;
  border-right: 0.1875rem solid transparent;
}
.alarmSettingCategory .sortContainer .title2Text .div_triangle .triangle.triangleUp {
  border-bottom: 0.25rem solid rgba(143, 205, 204, 0.26);
}
.alarmSettingCategory .sortContainer .title2Text .div_triangle .triangle.triangleUp.active {
  border-bottom: 0.25rem solid #05CCFF;
}
.alarmSettingCategory .sortContainer .title2Text .div_triangle .triangle.triangleDown {
  border-top: 0.25rem solid rgba(143, 205, 204, 0.26);
}
.alarmSettingCategory .sortContainer .title2Text .div_triangle .triangle.triangleDown.active {
  border-top: 0.25rem solid #05CCFF;
}
.alarmSettingCategory .sortContainer .text1 {
  width: 19.4%;
}
.alarmSettingCategory .sortContainer .text2 {
  width: 12.5%;
}
.alarmSettingCategory .sortContainer .text3 {
  width: 25.4%;
}
.alarmSettingCategory .sortContainer .text4 {
  width: 42.7%;
  border-right: none;
}
.alarmSettingCategory .sortContainer .text5 {
  width: 15%;
}
.alarmSettingCategory .sortContainer .text6 {
  width: 13%;
}
.alarmSettingCategory .sortContainer .text7 {
  width: 13%;
}
.alarmSettingCategory .sortContainer .text8 {
  width: 15%;
}
.alarmSettingCategory .sortContainer .text9 {
  width: 9%;
}
.alarmSettingCategory .sortContainer .text10 {
  width: 7%;
}
.alarmSettingCategory .sortContainer .text11 {
  width: 15%;
}
.alarmSettingCategory .sortContainer .text12 {
  width: 13%;
  border-right: none;
}
.alarmSettingCategory .sortContainer .text13 {
  width: 45%;
}
.alarmSettingCategory .sortContainer .text14 {
  width: 38%;
}
.alarmSettingCategory .sortContainer .switchTitle {
  width: 8%;
}
.alarmSettingCategory .sortContainer .text16 {
  width: 12%;
}
.alarmSettingCategory .sortContainer .text17 {
  width: 15%;
}
.alarmSettingCategory .sortContainer .text18 {
  width: 65%;
  border-right: none;
}

.categoryContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 88%;
  padding-right: 1.5%;
  margin-right: 2%;
  margin-left: 1.5%;
}
.categoryContainer table {
  width: 100%;
  font-size: 1.25rem;
  color: #FFFFFF;
  border-spacing: 0;
}
.categoryContainer table tr:nth-child(even) {
  background: #033440;
}
.categoryContainer table tr:hover {
  background: #495B7C;
  box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.08);
}
.categoryContainer table tr.active {
  background: #495B7C;
  box-shadow: inset 0 0 8px 3px rgba(143, 205, 204, 0.55);
}
.categoryContainer table tr td {
  font-family: Poppins, sans-serif;
  height: 2.5rem;
  padding-left: 1%;
}
.categoryContainer table tr td.td1 {
  width: 19.4%;
}
.categoryContainer table tr td.td2 {
  width: 12.5%;
}
.categoryContainer table tr td.td3 {
  width: 25.4%;
}
.categoryContainer table tr td.td4 {
  width: 42.7%;
}
.categoryContainer table tr td .td4Text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categoryContainer table tr td .td4Text .status {
  flex-grow: 1;
}
.categoryContainer table tr td .td4Text .td4TextImage {
  width: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categoryContainer table tr td .td4Text .td4TextImage .div_assignJob {
  cursor: pointer;
  position: relative;
}
.categoryContainer table tr td .td4Text .td4TextImage .div_assignJob .operatorTitle {
  position: absolute;
  font-family: Noto Sans SC, sans-serif;
  background: #8FCDCC;
  border: 1px solid #000000;
  border-radius: 0.125rem;
  color: #000000;
  width: 3.5rem;
  height: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  font-size: 1rem;
  top: 1rem;
  right: 0;
  z-index: 3;
}
.categoryContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob {
  font-family: Noto Sans SC, sans-serif;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  top: 1.125rem;
  right: -0.1875rem;
  font-size: 1rem;
}
.categoryContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context {
  width: 22.125rem;
  height: 10.8125rem;
  background: #033440;
  border-radius: 5px;
}
.categoryContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title1 {
  text-align: center;
  color: #8FCDCC;
  font-weight: 500;
  height: 30%;
  line-height: 4rem;
}
.categoryContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title2 {
  font-weight: normal;
  height: 30%;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  color: rgba(143, 205, 204, 0.35);
}
.categoryContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title2 .title2Text1 {
  padding-left: 1.5625rem;
  width: 40%;
}
.categoryContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title2 .title2Text2 {
  text-align: center;
  width: 60%;
  border-bottom: 1px solid #8FCDCC;
}
.categoryContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .div_button {
  font-weight: 500;
  text-align: center;
  height: 30%;
}
.categoryContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .div_button button {
  margin: 0 1rem;
  cursor: pointer;
}
.categoryContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .triangle {
  width: 1px;
  border-bottom: 1.75rem solid #033440;
  border-left: 0.875rem solid transparent;
  border-right: 0.875rem solid transparent;
}
.categoryContainer table tr td.td5 {
  width: 15%;
}
.categoryContainer table tr td.td6 {
  width: 13%;
}
.categoryContainer table tr td.td7 {
  width: 13%;
}
.categoryContainer table tr td.td8 {
  width: 15%;
}
.categoryContainer table tr td.td9 {
  width: 9%;
}
.categoryContainer table tr td.td10 {
  width: 7%;
}
.categoryContainer table tr td.td11 {
  width: 15%;
}
.categoryContainer table tr td.td12 {
  width: 13%;
}
.categoryContainer table tr td.td13 {
  width: 45%;
}
.categoryContainer table tr td.td14 {
  width: 38%;
}
.categoryContainer .alarmSettingTable td {
  height: 3rem;
}
.categoryContainer .alarmSettingTable td input[type=range] {
  height: 100%;
  width: 50%;
}
.categoryContainer .alarmSettingTable td .colorContainer {
  height: 2.5rem;
  display: flex;
  align-items: center;
}
.categoryContainer .alarmSettingTable td .colorContainer.editor {
  padding-left: 0.5rem;
  border-radius: 5px;
  border: 1px solid #8FCDCC;
}
.categoryContainer .alarmSettingTable td .colorContainer .colorDiv {
  margin-right: 0.5rem;
}
.categoryContainer .alarmSettingTable td .colorContainer select {
  flex-grow: 1;
  width: 70%;
  height: 2.5rem;
}
.categoryContainer .alarmSettingTable td .notificationContainer input {
  padding-left: 0.5rem;
  border-radius: 5px;
  border: 1px solid #8FCDCC;
  font-size: 1.25rem;
  color: white;
  width: 50%;
  height: 2.5rem;
}
.categoryContainer .alarmSettingTable td .notificationContainer input:focus {
  border-radius: 5px;
  border: 1px solid #8FCDCC;
  box-shadow: 0 0 2px 3px rgba(143, 205, 204, 0.55);
}
.categoryContainer .alarmSettingTable td.td1 {
  width: 8%;
}
.categoryContainer .alarmSettingTable td.td2 {
  width: 12%;
}
.categoryContainer .alarmSettingTable td.td3 {
  width: 15%;
}
.categoryContainer .alarmSettingTable td.td4 {
  width: 65%;
}

.categoryContainer .buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 3.8rem;
  margin-bottom: 6rem;
}
.categoryContainer .buttonContainer button {
  margin: 0 1%;
}

.searchEditorDownloadContainer {
  margin: 1.6875rem 0 1.9rem 1.62%;
  display: flex;
  justify-content: space-between;
}
.searchEditorDownloadContainer .svgContainer {
  cursor: pointer;
  margin: 0 0 0 1.5rem;
}
.searchEditorDownloadContainer .leftContainer {
  display: flex;
}
.searchEditorDownloadContainer .leftContainer .inputContainer {
  height: 2.375rem;
  line-height: 2.375rem;
  width: 17.5rem;
}
.searchEditorDownloadContainer .leftContainer .inputContainer input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.searchEditorDownloadContainer .rightContainer {
  display: flex;
  margin-right: 2%;
}

.alarmSettingRuleIndex .scrollContainer {
  height: 87%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer {
  margin-left: 1.5%;
  margin-right: 4%;
  padding-bottom: 0.4rem;
  border-bottom: solid 1px #8FCDCC;
  padding-right: 1%;
  display: flex;
  font-size: 1.625rem;
  color: #8FCDCC;
  color: white;
  width: 150%;
  padding-right: 0;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .title2Text {
  cursor: pointer;
  border-right: solid 1px #8FCDCC;
  padding-left: 0.8%;
  display: flex;
  box-sizing: border-box;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .title2Text .div_triangle {
  margin: 0.45rem 0 0.45rem 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .title2Text .div_triangle .triangle {
  border-left: 0.1875rem solid transparent;
  border-right: 0.1875rem solid transparent;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .title2Text .div_triangle .triangle.triangleUp {
  border-bottom: 0.25rem solid rgba(143, 205, 204, 0.26);
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .title2Text .div_triangle .triangle.triangleUp.active {
  border-bottom: 0.25rem solid #05CCFF;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .title2Text .div_triangle .triangle.triangleDown {
  border-top: 0.25rem solid rgba(143, 205, 204, 0.26);
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .title2Text .div_triangle .triangle.triangleDown.active {
  border-top: 0.25rem solid #05CCFF;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text1 {
  width: 19.4%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text2 {
  width: 12.5%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text3 {
  width: 25.4%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text4 {
  width: 42.7%;
  border-right: none;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text5 {
  width: 15%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text6 {
  width: 13%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text7 {
  width: 13%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text8 {
  width: 15%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text9 {
  width: 9%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text10 {
  width: 7%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text11 {
  width: 15%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text12 {
  width: 13%;
  border-right: none;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text13 {
  width: 45%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text14 {
  width: 38%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .block {
  width: 2.2%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text19 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text20 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text21 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text22 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text23 {
  width: 7.8%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text24 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text25 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text26 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text27 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .sortContainer .text28 {
  width: 10.1%;
  border-right: none;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 88%;
  padding-right: 1.5%;
  margin-right: 2%;
  height: 93%;
  margin-left: 1.5%;
  width: 150%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table {
  width: 100%;
  font-size: 1.25rem;
  color: #FFFFFF;
  border-spacing: 0;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr:nth-child(even) {
  background: #033440;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr:hover {
  background: #495B7C;
  box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.08);
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr.active {
  background: #495B7C;
  box-shadow: inset 0 0 8px 3px rgba(143, 205, 204, 0.55);
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td {
  font-family: Poppins, sans-serif;
  height: 2.5rem;
  padding-left: 1%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td1 {
  width: 19.4%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td2 {
  width: 12.5%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td3 {
  width: 25.4%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td4 {
  width: 42.7%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .status {
  flex-grow: 1;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .td4TextImage {
  width: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .td4TextImage .div_assignJob {
  cursor: pointer;
  position: relative;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .td4TextImage .div_assignJob .operatorTitle {
  position: absolute;
  font-family: Noto Sans SC, sans-serif;
  background: #8FCDCC;
  border: 1px solid #000000;
  border-radius: 0.125rem;
  color: #000000;
  width: 3.5rem;
  height: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  font-size: 1rem;
  top: 1rem;
  right: 0;
  z-index: 3;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob {
  font-family: Noto Sans SC, sans-serif;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  top: 1.125rem;
  right: -0.1875rem;
  font-size: 1rem;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context {
  width: 22.125rem;
  height: 10.8125rem;
  background: #033440;
  border-radius: 5px;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title1 {
  text-align: center;
  color: #8FCDCC;
  font-weight: 500;
  height: 30%;
  line-height: 4rem;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title2 {
  font-weight: normal;
  height: 30%;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  color: rgba(143, 205, 204, 0.35);
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title2 .title2Text1 {
  padding-left: 1.5625rem;
  width: 40%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title2 .title2Text2 {
  text-align: center;
  width: 60%;
  border-bottom: 1px solid #8FCDCC;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .div_button {
  font-weight: 500;
  text-align: center;
  height: 30%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .div_button button {
  margin: 0 1rem;
  cursor: pointer;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td .td4Text .td4TextImage .div_assignJob .assignJob .triangle {
  width: 1px;
  border-bottom: 1.75rem solid #033440;
  border-left: 0.875rem solid transparent;
  border-right: 0.875rem solid transparent;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td5 {
  width: 15%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td6 {
  width: 13%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td7 {
  width: 13%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td8 {
  width: 15%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td9 {
  width: 9%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td10 {
  width: 7%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td11 {
  width: 15%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td12 {
  width: 13%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td13 {
  width: 45%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer table tr td.td14 {
  width: 38%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable {
  table-layout: fixed;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable td {
  word-wrap: break-word;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable td .colorContainer {
  display: flex;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable td .colorContainer .block {
  width: 4%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable td input {
  width: 1rem;
  height: 1rem;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable .td0 {
  width: 2%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable .td1 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable .td2 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable .td3 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable .td4 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable .td5 {
  width: 8%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable .td6 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable .td7 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable .td8 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable .td9 {
  width: 10%;
}
.alarmSettingRuleIndex .scrollContainer .ruleContainer .alarmSettingRuleTable .td10 {
  width: 10%;
}

.alarmSettingUpdate {
  font-family: Noto Sans SC, sans-serif;
  width: 97%;
  height: 100%;
  background: linear-gradient(64.4deg, #00262F 73.81%, #495B7C 122.59%);
  border-radius: 5px;
  color: #8FCDCC;
  font-size: 1.625rem;
  overflow-x: scroll;
}
.alarmSettingUpdate > .editorTitle {
  margin: 1.5rem 0 1rem 1.75rem;
  color: white;
  font-weight: bold;
  font-size: 1.625rem;
}
.alarmSettingUpdate .ruleItemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.5%;
}
.alarmSettingUpdate .ruleItemContainer .alarmSettingRuleItem {
  margin-bottom: 2rem;
  padding: 0.2rem 0.5rem 0 0.8rem;
  width: 49.5%;
  background: rgba(143, 205, 204, 0.15);
  border: 1px solid #8FCDCC;
  box-sizing: border-box;
  border-radius: 5px;
}
.alarmSettingUpdate .ruleItemContainer .alarmSettingRuleItem .item {
  width: 96%;
  margin: 0.75rem;
}
.alarmSettingUpdate .ruleItemContainer .alarmSettingRuleItem .item input[disabled] {
  cursor: not-allowed;
  color: #75908f;
}
.alarmSettingUpdate .ruleItemContainer .alarmSettingRuleItem .item select[disabled] {
  cursor: not-allowed;
  color: #75908f;
}
.alarmSettingUpdate .ruleItemContainer .alarmSettingRuleItem .buttonContainer {
  display: flex;
  justify-content: center;
  margin: 1.0625rem 0 1.25rem 0;
}
@media (max-width: 1080px) {
  .alarmSettingUpdate .ruleItemContainer .alarmSettingRuleItem {
    width: 100%;
  }
}
.alarmSettingUpdate .updateButtonContainer {
  margin: 0 0 4rem 0;
  display: flex;
  justify-content: center;
}
.alarmSettingUpdate .updateButtonContainer .button {
  margin: 0 0.65rem;
}

.forUpdateData, .alarmSettingRuleItem {
  width: 100%;
  height: 60%;
  padding-left: 3.4375rem;
}
.forUpdateData .item, .alarmSettingRuleItem .item {
  margin: 0.9rem 0;
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}
.forUpdateData .item .title, .alarmSettingRuleItem .item .title {
  width: 40%;
}
.forUpdateData .item .colorContainer, .alarmSettingRuleItem .item .colorContainer {
  display: flex;
}
.forUpdateData .item .colorContainer .colorDiv, .alarmSettingRuleItem .item .colorContainer .colorDiv {
  margin-right: 2%;
}
.forUpdateData .item .context, .alarmSettingRuleItem .item .context {
  width: 60%;
  border-bottom: 1px solid #8FCDCC;
}
.forUpdateData .item .context input, .alarmSettingRuleItem .item .context input {
  color: #8FCDCC;
  font-size: 1.25rem;
  width: 100%;
}
.forUpdateData .item .context select, .alarmSettingRuleItem .item .context select {
  color: #8FCDCC;
  width: 100%;
}

.alarmSettingAdd > .title {
  margin: 1.5rem 0 0 1.75rem;
  color: white;
  font-weight: bold;
  font-size: 1.625rem;
}
.alarmSettingAdd .updateButton {
  margin-top: 2.75rem;
  display: flex;
  justify-content: center;
}
.alarmSettingAdd .updateButton .button {
  margin: 0 1rem;
}

/*# sourceMappingURL=alarmSetting.css.map */
