.reportArticle .container .reportSearch .searchSelect {
  justify-content: space-between;
}
.reportArticle .container .reportSearch .searchSelect .item {
  font-weight: 700;
  border-right: 1px solid #8FCDCC;
  flex-grow: 1;
}
.reportArticle .container .reportSearch .searchSelect .item.borderN {
  border-right: none;
}
.reportArticle .container .reportSearch .searchContext2 {
  display: flex;
  align-items: center;
}
.reportArticle .container .reportSearch .searchContext2 .filterContainer {
  font-size: 1.25rem;
  display: flex;
  width: 48%;
}
.reportArticle .container .reportSearch .searchContext2 .filterContainer .chargingStation label {
  margin: 0 1rem;
}
.reportArticle .container .reportSearch .searchContext2 .filterContainer .charger label {
  margin: 0 1rem 0 2rem;
}
.reportArticle .container .reportSearch .searchContext2 .filterContainer select {
  width: 12.5rem;
}
.reportArticle .container .reportSearch .searchContext2 .context2 {
  height: 5.75rem;
  text-align: center;
  flex-grow: 1;
}
.reportArticle .container .reportSearch .searchContext2 .context3 {
  display: flex;
  width: 50%;
}
.reportArticle .container .reportSearch .searchContext2 .context3 .dateContainer {
  margin-left: 1.75rem;
}
.reportArticle .container .reportSearch .searchContext2 .context3 .rangeContainer {
  margin: 0 1.5rem 0 0.8rem;
  display: flex;
  align-items: center;
}
.reportArticle .container .reportSearch .searchContext2 .context3 .rangeContainer .svgContainer {
  margin: 0 0.3rem;
  line-height: 0;
}
.reportArticle .container .reportSearch .searchContext2 .context3 .fastContainer {
  display: flex;
  align-items: center;
}
.reportArticle .container .reportSearch .searchContext2 .context3 input {
  box-sizing: border-box;
  margin: 0 0.2rem;
  display: block;
  font-size: 1.25rem;
  border: 1px solid #8FCDCC;
  border-radius: 0.3125rem;
}
.reportArticle .container .reportSearch .searchContext2 .context3 input[type=date] {
  width: 11.95rem;
}
.reportArticle .container .reportSearch .searchContext2 .context3 select {
  font-size: 1rem;
  width: 9rem;
}
.reportArticle .downChargerContainer {
  padding-top: 2rem;
}
.reportArticle .downChargerContainer .downCharger .mainTitle {
  display: flex;
  justify-content: space-between;
}
.reportArticle .downChargerContainer .downCharger .mainTitle .block {
  width: 30%;
}
.reportArticle .downChargerContainer .downCharger .mainTitle .printDownloadContainer {
  width: 30%;
  flex-grow: 0;
  padding-right: 3rem;
  box-sizing: border-box;
}
.reportArticle .downChargerContainer .downCharger .chargerChart {
  position: relative;
  margin: 2rem 5rem 0 5rem;
  height: 30rem;
}
.reportArticle .downChargerContainer .downCharger .chargerChart .dollar {
  position: absolute;
  font-size: 1.25rem;
  top: -5%;
  left: 1%;
}
.reportArticle .downChargerContainer .downCharger .chargerChart.usage {
  overflow-x: scroll;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer {
  margin-bottom: 2rem;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .informationTitle {
  font-size: 1.25rem;
  margin: 1.5rem 5rem 3rem 5rem;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .searchContainer {
  display: flex;
  height: 2.4rem;
  margin: 1.25rem 5rem;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .searchContainer input {
  height: 100%;
  width: 30%;
  display: block;
  margin-right: 2rem;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .searchContainer .text {
  margin-left: 2rem;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .searchContainer label {
  margin-right: 0.5rem;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer {
  margin-left: 4rem;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  position: relative;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer::-webkit-scrollbar-thumb {
  background: rgba(141, 205, 204, 0.4);
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  line-height: 2rem;
  border-bottom: 1px solid #8D97AD;
  padding-bottom: 0.6%;
  width: 160%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 {
  padding-right: 1%;
  display: flex;
  font-size: 1.625rem;
  color: #8FCDCC;
  color: white;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .title2Text {
  cursor: pointer;
  border-right: solid 1px #8FCDCC;
  padding-left: 0.8%;
  display: flex;
  box-sizing: border-box;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .title2Text .div_triangle {
  margin: 0.45rem 0 0.45rem 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .title2Text .div_triangle .triangle {
  border-left: 0.1875rem solid transparent;
  border-right: 0.1875rem solid transparent;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .title2Text .div_triangle .triangle.triangleUp {
  border-bottom: 0.25rem solid rgba(143, 205, 204, 0.26);
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .title2Text .div_triangle .triangle.triangleUp.active {
  border-bottom: 0.25rem solid #05CCFF;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .title2Text .div_triangle .triangle.triangleDown {
  border-top: 0.25rem solid rgba(143, 205, 204, 0.26);
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .title2Text .div_triangle .triangle.triangleDown.active {
  border-top: 0.25rem solid #05CCFF;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text1 {
  width: 19.4%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text2 {
  width: 12.5%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text3 {
  width: 25.4%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text4 {
  width: 42.7%;
  border-right: none;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text5 {
  width: 15%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text6 {
  width: 13%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text7 {
  width: 13%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text8 {
  width: 15%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text9 {
  width: 9%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text10 {
  width: 7%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text11 {
  width: 15%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text12 {
  width: 13%;
  border-right: none;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text13 {
  width: 45%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text14 {
  width: 38%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text30 {
  width: 7%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text31 {
  width: 11%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text7 {
  width: 8%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text32 {
  width: 6%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text33 {
  width: 7%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text34 {
  width: 8%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text35 {
  width: 12%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text36 {
  width: 12%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text37 {
  width: 8%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text38 {
  width: 7%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text38_2 {
  width: 7%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .sortTitle .title2 .text39 {
  width: 7%;
  border-right: none;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 88%;
  padding-right: 1.5%;
  margin-right: 2%;
  min-height: 4rem;
  max-height: 45rem;
  width: 159%;
  height: fit-content;
  position: relative;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table {
  width: 100%;
  font-size: 1.25rem;
  color: #FFFFFF;
  border-spacing: 0;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr:nth-child(even) {
  background: #033440;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr:hover {
  background: #495B7C;
  box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.08);
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr.active {
  background: #495B7C;
  box-shadow: inset 0 0 8px 3px rgba(143, 205, 204, 0.55);
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td {
  font-family: Poppins, sans-serif;
  height: 2.5rem;
  padding-left: 1%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td1 {
  width: 19.4%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td2 {
  width: 12.5%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td3 {
  width: 25.4%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td4 {
  width: 42.7%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .status {
  flex-grow: 1;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .td4TextImage {
  width: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .td4TextImage .div_assignJob {
  cursor: pointer;
  position: relative;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .td4TextImage .div_assignJob .operatorTitle {
  position: absolute;
  font-family: Noto Sans SC, sans-serif;
  background: #8FCDCC;
  border: 1px solid #000000;
  border-radius: 0.125rem;
  color: #000000;
  width: 3.5rem;
  height: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  font-size: 1rem;
  top: 1rem;
  right: 0;
  z-index: 3;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .td4TextImage .div_assignJob .assignJob {
  font-family: Noto Sans SC, sans-serif;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  top: 1.125rem;
  right: -0.1875rem;
  font-size: 1rem;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context {
  width: 22.125rem;
  height: 10.8125rem;
  background: #033440;
  border-radius: 5px;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title1 {
  text-align: center;
  color: #8FCDCC;
  font-weight: 500;
  height: 30%;
  line-height: 4rem;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title2 {
  font-weight: normal;
  height: 30%;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  color: rgba(143, 205, 204, 0.35);
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title2 .title2Text1 {
  padding-left: 1.5625rem;
  width: 40%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title2 .title2Text2 {
  text-align: center;
  width: 60%;
  border-bottom: 1px solid #8FCDCC;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .div_button {
  font-weight: 500;
  text-align: center;
  height: 30%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .div_button button {
  margin: 0 1rem;
  cursor: pointer;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td .td4Text .td4TextImage .div_assignJob .assignJob .triangle {
  width: 1px;
  border-bottom: 1.75rem solid #033440;
  border-left: 0.875rem solid transparent;
  border-right: 0.875rem solid transparent;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td5 {
  width: 15%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td6 {
  width: 13%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td7 {
  width: 13%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td8 {
  width: 15%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td9 {
  width: 9%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td10 {
  width: 7%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td11 {
  width: 15%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td12 {
  width: 13%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td13 {
  width: 45%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td14 {
  width: 38%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation .noData {
  margin-right: 48rem;
  text-align: center;
  color: white;
  font-size: 1.25rem;
  padding: 1rem 0;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td1 {
  width: 7%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td2 {
  width: 11%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td3 {
  width: 8%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td4 {
  width: 6%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td5 {
  width: 7%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td6 {
  width: 8%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td7 {
  width: 12%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td8 {
  width: 12%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td9 {
  width: 8%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td10 {
  width: 7%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td11 {
  width: 7%;
}
.reportArticle .downChargerContainer .downCharger .chargerInformationContainer .chargerDataContainer .showChargerInformation table tr td.td12 {
  width: 7%;
}

.downCharger .chargerUsageContainer {
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0 7.5rem;
}
.downCharger .chargerUsageContainer .titleContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}
.downCharger .chargerUsageContainer .titleContainer .title1End {
  display: flex;
  align-items: center;
  color: #8FCDCC;
}
.downCharger .chargerUsageContainer .titleContainer .title1End .title1EndButton {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 2.5rem;
  align-items: center;
}
.downCharger .chargerUsageContainer .titleContainer .title1End .title1EndButton .arrowContainer {
  width: 3rem;
  cursor: not-allowed;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.downCharger .chargerUsageContainer .titleContainer .title1End .title1EndButton .arrowContainer.active {
  cursor: pointer;
}
.downCharger .chargerUsageContainer .titleContainer .title1End .title1EndButton .arrowContainer .arrowLeft {
  cursor: not-allowed;
  width: 0.4375rem;
  height: 0.4375rem;
  border-left: 0.1875rem solid rgba(143, 205, 204, 0.26);
  border-bottom: 0.1875rem solid rgba(143, 205, 204, 0.26);
  transform: rotate(45deg);
}
.downCharger .chargerUsageContainer .titleContainer .title1End .title1EndButton .arrowContainer .arrowRight {
  cursor: not-allowed;
  width: 0.4375rem;
  height: 0.4375rem;
  border-top: 0.1875rem solid rgba(143, 205, 204, 0.26);
  border-right: 0.1875rem solid rgba(143, 205, 204, 0.26);
  transform: rotate(45deg);
}
.downCharger .chargerUsageContainer .titleContainer .title1End .title1EndButton .arrowContainer .active {
  cursor: pointer;
  border-color: #8FCDCC;
}
.downCharger .chargerUsageContainer .titleContainer .title1End {
  flex-direction: column;
  align-items: flex-end;
}
.downCharger .chargerUsageContainer .titleContainer .title1End .title1EndButton {
  margin-right: 0;
}
.downCharger .chargerUsageContainer .titleContainer .title1End .title1EndText {
  padding-right: 1rem;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer {
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-between;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable {
  width: 48%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle {
  line-height: 2rem;
  border-bottom: 1px solid #8D97AD;
  padding-bottom: 0.6%;
  margin-right: 1.5%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 {
  padding-right: 1%;
  display: flex;
  font-size: 1.625rem;
  color: #8FCDCC;
  color: white;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .title2Text {
  cursor: pointer;
  border-right: solid 1px #8FCDCC;
  padding-left: 0.8%;
  display: flex;
  box-sizing: border-box;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .title2Text .div_triangle {
  margin: 0.45rem 0 0.45rem 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .title2Text .div_triangle .triangle {
  border-left: 0.1875rem solid transparent;
  border-right: 0.1875rem solid transparent;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .title2Text .div_triangle .triangle.triangleUp {
  border-bottom: 0.25rem solid rgba(143, 205, 204, 0.26);
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .title2Text .div_triangle .triangle.triangleUp.active {
  border-bottom: 0.25rem solid #05CCFF;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .title2Text .div_triangle .triangle.triangleDown {
  border-top: 0.25rem solid rgba(143, 205, 204, 0.26);
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .title2Text .div_triangle .triangle.triangleDown.active {
  border-top: 0.25rem solid #05CCFF;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text1 {
  width: 19.4%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text2 {
  width: 12.5%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text3 {
  width: 25.4%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text4 {
  width: 42.7%;
  border-right: none;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text5 {
  width: 15%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text6 {
  width: 13%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text7 {
  width: 13%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text8 {
  width: 15%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text9 {
  width: 9%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text10 {
  width: 7%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text11 {
  width: 15%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text12 {
  width: 13%;
  border-right: none;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text13 {
  width: 45%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text14 {
  width: 38%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .no_cursor {
  cursor: default;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text40 {
  width: 34%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text30 {
  width: 33%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .sortTitle .title2 .text41 {
  border-right: none;
  width: 33%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 88%;
  padding-right: 1.5%;
  margin-right: 2%;
  height: auto;
  padding-right: 0;
  margin-right: 0;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table {
  width: 100%;
  font-size: 1.25rem;
  color: #FFFFFF;
  border-spacing: 0;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr:nth-child(even) {
  background: #033440;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr:hover {
  background: #495B7C;
  box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.08);
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr.active {
  background: #495B7C;
  box-shadow: inset 0 0 8px 3px rgba(143, 205, 204, 0.55);
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td {
  font-family: Poppins, sans-serif;
  height: 2.5rem;
  padding-left: 1%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td1 {
  width: 19.4%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td2 {
  width: 12.5%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td3 {
  width: 25.4%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td4 {
  width: 42.7%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .status {
  flex-grow: 1;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .td4TextImage {
  width: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .td4TextImage .div_assignJob {
  cursor: pointer;
  position: relative;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .td4TextImage .div_assignJob .operatorTitle {
  position: absolute;
  font-family: Noto Sans SC, sans-serif;
  background: #8FCDCC;
  border: 1px solid #000000;
  border-radius: 0.125rem;
  color: #000000;
  width: 3.5rem;
  height: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  font-size: 1rem;
  top: 1rem;
  right: 0;
  z-index: 3;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .td4TextImage .div_assignJob .assignJob {
  font-family: Noto Sans SC, sans-serif;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  top: 1.125rem;
  right: -0.1875rem;
  font-size: 1rem;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context {
  width: 22.125rem;
  height: 10.8125rem;
  background: #033440;
  border-radius: 5px;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title1 {
  text-align: center;
  color: #8FCDCC;
  font-weight: 500;
  height: 30%;
  line-height: 4rem;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title2 {
  font-weight: normal;
  height: 30%;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  color: rgba(143, 205, 204, 0.35);
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title2 .title2Text1 {
  padding-left: 1.5625rem;
  width: 40%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .title2 .title2Text2 {
  text-align: center;
  width: 60%;
  border-bottom: 1px solid #8FCDCC;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .div_button {
  font-weight: 500;
  text-align: center;
  height: 30%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .td4TextImage .div_assignJob .assignJob .context .div_button button {
  margin: 0 1rem;
  cursor: pointer;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td .td4Text .td4TextImage .div_assignJob .assignJob .triangle {
  width: 1px;
  border-bottom: 1.75rem solid #033440;
  border-left: 0.875rem solid transparent;
  border-right: 0.875rem solid transparent;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td5 {
  width: 15%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td6 {
  width: 13%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td7 {
  width: 13%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td8 {
  width: 15%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td9 {
  width: 9%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td10 {
  width: 7%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td11 {
  width: 15%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td12 {
  width: 13%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td13 {
  width: 45%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td14 {
  width: 38%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td1 {
  width: 34%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td2 {
  width: 33%;
}
.downCharger .chargerUsageContainer .chargerUsageTableContainer .chargerUsageTable .showChargerUsage table tr td.td3 {
  width: 33%;
}

/*# sourceMappingURL=report_charger.css.map */
